.litebox-embed(style="width:450px")
  h1 Decide if a category is a header category

  =form_for(@category, :url => { :action => 'is_header_category2' }) do |f|
    =hidden_field_tag(:category_id, @category.id)
    h5 <span id="category_title_for_attributes">#{@category.title}</span>
      is a header category

    </br>is a header category  
    =check_box_tag 'is_header_category','1', (@isheader==true ? 'checked' : nil), 'onclick': "showAllowUserInputRadio(this)"

    </br>
    <div id="only_user_input" style="#{@display}">
      </br>allow user input  
      =check_box_tag 'allow_user_input','1', (@allow_user_input==true ? 'checked' : nil), 'onclick': "showRadioButtons(this)"
    </div>

    </br></br>
    <div id="only_radio_buttons" style="#{@display}">
      |  
      =label_tag(:max_len, "Length")
      |  
      =text_field_tag(:max_len, @max_len, id:"max_len_textfield", maxlength:'2', placeholder:"#{@max_len}")

      </br></br>Allowed content
      </br></br>any  
      =radio_button_tag 'only','0', (@only==0 ? 'checked' : nil)

      table [ class="allowed_content" ]
        tr
          td         
            =label_tag(:only, "only numbers") 
            =radio_button_tag 'only','1', (@only==1 ? 'checked' : nil)
          td
            =label_tag(:only, "only letters")
            =radio_button_tag 'only','2', (@only==2 ? 'checked' : nil)
        tr
          td
            =label_tag(:only, "no numbers")
            =radio_button_tag 'only','3', (@only==3 ? 'checked' : nil)
          td
            =label_tag(:only, "no letters")
            =radio_button_tag 'only','4', (@only==4 ? 'checked' : nil)
    </div>

    .toolbar
      .toolbar_group.aright =f.button 'Assign Category As a Header Category'


    
