
.medium-participle_id2{color:#FF0000;}
.button-participle_id2{color:#FF0000;}
.medium-adjective_id3{color:#0901F3;}
.button-adjective_id3{color:#0901F3;}
.medium-aa_id4{color:#8e00ad;}
.button-aa_id4{color:#8e00ad;}
.medium-phrasal_verb_id5{color:auto;text-decoration: underline; text-decoration-style: double;}
.button-phrasal_verb_id5{color:auto;text-decoration: underline; text-decoration-style: double;}
.medium-infinitive_id6{color:#FF0000;}
.button-infinitive_id6{color:#FF0000;}