
.medium-correction-id5{color:auto;text-decoration:underline;}
.button-correction-id5{color:auto;text-decoration:underline;}
.medium-ambiguous-id1{color:#c0392b;}
.button-ambiguous-id1{color:#c0392b;}
.medium-closing-id2{color:#FF5733;}
.button-closing-id2{color:#FF5733;}
.medium-comment-id4{color:#d4ac0d;}
.button-comment-id4{color:#d4ac0d;}
.medium-error-id8{text-decoration:line-through;}
.button-error-id8{text-decoration:line-through;}
.medium-greeting-id12{color:#24D201;}
.button-greeting-id12{color:#24D201;}
.medium-hyphen-id13{color:#0901F3;}
.button-hyphen-id13{color:#0901F3;}
.medium-indirect_speech-id14{font-style: italic;}
.button-indirect_speech-id14{font-style: italic;}
.medium-greeting-id26{color:#F39201;}
.button-greeting-id26{color:#F39201;}
.medium-correction-id27{text-decoration:line-through;}
.button-correction-id27{text-decoration:line-through;}
.medium-error-id28{text-decoration:underline;}
.button-error-id28{text-decoration:underline;}