
.medium-greeting_id2{text-decoration: underline; text-decoration-style: dotted;}
.button-greeting_id2{text-decoration: underline; text-decoration-style: dotted;}
.medium-error_id1{text-decoration: line-through;}
.button-error_id1{text-decoration: line-through;}
.medium-closing_id3{text-decoration: underline; text-decoration-style: dashed;}
.button-closing_id3{text-decoration: underline; text-decoration-style: dashed;}
.medium-verb_id4{color:#24D201;}
.button-verb_id4{color:#24D201;}
.medium-adjective_id5{color:#e4cc0d;}
.button-adjective_id5{color:#e4cc0d;}
.medium-subject_id7{text-decoration: underline;}
.button-subject_id7{text-decoration: underline;}
.medium-predicate_id8{text-decoration: underline; text-decoration-style: double;}
.button-predicate_id8{text-decoration: underline; text-decoration-style: double;}