
.medium-correction_id5{color:auto;}
.button-correction_id5{color:auto;}
.medium-ambiguous_id1{color:#c0392b;}
.button-ambiguous_id1{color:#c0392b;}
.medium-closing_id2{color:#FF5733;}
.button-closing_id2{color:#FF5733;}
.medium-comment_id4{color:#d4ac0d;}
.button-comment_id4{color:#d4ac0d;}
.medium-error_id8{}
.button-error_id8{}
.medium-greeting_id12{color:#24D201;}
.button-greeting_id12{color:#24D201;}
.medium-hyphen_id13{color:#0901F3;}
.button-hyphen_id13{color:#0901F3;}
.medium-indirect_speech_id14{font-style: italic;}
.button-indirect_speech_id14{font-style: italic;}
.medium-greeting_id26{color:#F39201;}
.button-greeting_id26{color:#F39201;}
.medium-correction_id27{}
.button-correction_id27{}
.medium-error_id28{}
.button-error_id28{}
.medium-deletion_id29{color:#FF5733;vertical-align: super; position: relative;}
.button-deletion_id29{color:#FF5733;vertical-align: super; position: relative;}
.medium-insertion_id30{color:#c0392b;vertical-align: sub; position: relative;}
.button-insertion_id30{color:#c0392b;vertical-align: sub; position: relative;}
.medium-orthographic_error_id31{color:#FF5733;font-weight: bold; font-style: italic;}
.button-orthographic_error_id31{color:#FF5733;font-weight: bold; font-style: italic;}
.medium-orthographic_error_target_id32{color:#24D201;font-style: italic;}
.button-orthographic_error_target_id32{color:#24D201;font-style: italic;}
.medium-punctuation_error_missings_id34{color:#FF5733;font-style: italic;}
.button-punctuation_error_missings_id34{color:#FF5733;font-style: italic;}
.medium-punctuation_error_wrongly_set_id35{color:#FF5733;}
.button-punctuation_error_wrongly_set_id35{color:#FF5733;}
.medium-grammatic_error_id33{color:#24D201;font-weight: bold; font-style: italic;}
.button-grammatic_error_id33{color:#24D201;font-weight: bold; font-style: italic;}
.medium-verb_id36{color:#008449;}
.button-verb_id36{color:#008449;}
.medium-new_category_id37{color:#8e00ad;text-decoration: underline; text-decoration-style: double;}
.button-new_category_id37{color:#8e00ad;text-decoration: underline; text-decoration-style: double;}
.medium-participle_id51{color:#f39200;text-decoration: underline;}
.button-participle_id51{color:#f39200;text-decoration: underline;}
.medium-adjective_id50{color:#e4cc0d;}
.button-adjective_id50{color:#e4cc0d;}
.medium-verb_id52{color:#008449;text-decoration: underline; text-decoration-style: double;}
.button-verb_id52{color:#008449;text-decoration: underline; text-decoration-style: double;}
.medium-greeting_id55{text-decoration: underline; text-decoration-style: wavy;font-style: italic;}
.button-greeting_id55{text-decoration: underline; text-decoration-style: wavy;font-style: italic;}
.medium-error_id54{color:#FF0000;text-decoration: underline; text-decoration-style: dashed;}
.button-error_id54{color:#FF0000;text-decoration: underline; text-decoration-style: dashed;}
.medium-noun_id56{color:#6a6266;}
.button-noun_id56{color:#6a6266;}
.medium-verb_id57{color:#0098db;text-decoration: none;}
.button-verb_id57{color:#0098db;text-decoration: none;}
.medium-noun_id58{color:#f39200;}
.button-noun_id58{color:#f39200;}
.medium-subject_id59{text-decoration: underline;}
.button-subject_id59{text-decoration: underline;}
.medium-predicate_id60{text-decoration: underline; text-decoration-style: double;}
.button-predicate_id60{text-decoration: underline; text-decoration-style: double;}
.medium-adjective_id62{color:#e4cc0d;}
.button-adjective_id62{color:#e4cc0d;}
.medium-participle_id61{color:#c0392b;}
.button-participle_id61{color:#c0392b;}
.medium-adverb_id63{color:#6a6266;}
.button-adverb_id63{color:#6a6266;}
.medium-article_id64{color:#ff66ff;}
.button-article_id64{color:#ff66ff;}
.medium-greeting_id65{text-decoration: underline; text-decoration-style: dotted;}
.button-greeting_id65{text-decoration: underline; text-decoration-style: dotted;}
.medium-pronoun_id66{color:#FF0000;}
.button-pronoun_id66{color:#FF0000;}