-content_for :page_title, "About Us"
-content_for :meta_description, "Transc&amp;Anno is open-source software for transcribing and annotating text images."

h1 About Transc&amp;Anno
p.big Transc&amp;Anno is open-source software for collaborating on texts. The tool supports transcription and annotation. The transcriptions acn be downloaded in a number of formats: XML, plain text, and even a ZIP that can be directly uploaded into another instance of Transc&amp;Anno.

h3 Collaborative Transcription
p Once you've scanned the handwritten documents, what's next? Transc&amp;Anno will display each page of those documents to users to transcribe and annotate.  Multiple users can collaborate on the same document, each adding their own expertise. Once transcribed, the documents are easy to read, search, and share.

h3 Discussion
p Readers and collaborators can add notes to individual pages, asking questions about the text, answering questions about difficult passages, or commenting on the material. The most recent notes appear on the collection homepage, making it easy to respond to questions.

h3 Security
p Transcription projects (or individual collections within a project) can be made private.  Private collections are neither editable nor readable by anyone not explicitly authorized to see them by the project owner. Public collections may also contain works for whom only a pre-approved set of users may make edits.

h3 Version Control
p Every change to every page is logged and visible in that page's &ldquo;versions&rdquo; tab. All edits to pages within a work are also visible in the work's &ldquo;versions&rdquo; tab.

b

h3 Project Management
p Project owners now have a owners dashboard to review activity within their project. This allows at-a-glance review of collaborators, activity (including questions and comments as well as recent changes) within the project, and status of the works in the project.

h3 Collaborators Dashboard
p Whether amateur volunteers or academic scholars, the most passionate contributors to any collaborative project are heavily invested in the quality of the text. The new Collaborators Dashboard shows users the most recent activity in the collections they care about, as well as pointing them to their own contributions so that they can take up where they left off.

h3 TEI-XML Export
p At any time, project owners can export documents as P5-compliant TEI-XML files. These exports contain full transcripts, and notes, as well as full revision histories.