-content_for :page_title, "Transc&Anno - transcribe handwritten documents"
-content_for :meta_description, "Transc&Anno is free software that allows to transcribe handwritten documents online. Users can discuss difficult writing or obscure words within a page to refine their transcription. The resulting text is hosted on the web, making documents easy to read and search."
-content_for :meta_keywords, "transcribe handwritten documents online free open-source transcription"



section.spotlight
  = html_block('left')
section.spotlight
  = html_block('right')
  